.burger {
  background: none;
  border: none;
  font-size: 26px;
  cursor: pointer;
  align-self: center;
  /* transition: transform 0.2s ease, opacity 0.3s ease; */
}

.burger:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.nav-icon-group {
  position: fixed;
  top: 18px;
  right: 25px;
  z-index: 1000;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  animation: fadeIn 0.25s ease;
}

.nav-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-group a {
  text-decoration: none;
  color: #b8996b;
  font-weight: 500;
  transition: color 0.2s ease;
}

.nav-group li{
    list-style:none;
}

.nav-group a:hover {
  color: #d8c29b;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}